@media only screen and (max-width: 600px) {
    body .header .nama-header .list-header .cari  .main .logo .penawaran .penawaran-item .footer .nama-footer .tabel center .pesananBox .pesanan .loginBox .login .about-me .data .data-item .regisBox .regis table td tr tbody{
        width: auto;
    }
}

.cari {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search {
    padding: 10px 5px;
    width: 500px;
}

.button-search {
    padding: 10px;
    width: 100px;
    font-size: medium;
    background-color: rgb(61, 61, 124);
    color: white;
    border:none;
    border-radius: 10px;
}